.feedbackList { padding: 15px; margin: 20px 0 30px; }
.feedbacks { list-style: none; padding: 0; margin: 20px 0 0 0; }
.feedbacks li { background: lightgrey; padding: 10px; margin-bottom: 10px; }
.giveFeedback a { cursor: pointer; }
.feedbackUserNames .form-group { display: flex; flex-flow: row wrap; }
.feedbackUserNames .form-group > label { width: 30%; }
.feedbackUserNames .form-group > input { width: 48%; margin: 0 1%; }
.feedbackUserNames .form-group > button { width: 20%; }

.feedbackUserNames .form-group { position: relative; }
.feedbackUserNames .ng-invalid.ng-dirty .form-group { padding: 10px 10px 35px 10px; border: 1px solid #901c24; border-radius: 11px; }
.feedbackUserNames .alert { position: absolute; background: top; border: 0; padding: 0; bottom: 0; margin: 0; }
